body {
  margin: 0;
  font-family:'Abril Fatface', cursive,'Archivo', sans-serif,'Assistant', sans-serif;
}
.class{
  width: 20rem;
}
.round{
  border-radius: 100%;
  width:8rem;
}

.Bganimation{
  background-size:cover;
  background-position: left;
  background-image: url("./components/graphics/Capp.JPG");
  animation: 60s infinite;
  background-repeat: no-repeat;
}
.pad{
  padding-top: 13rem;
}
.navbar{
  width:30rem;
}
.profile{
  width: 100px;
}
.contents{
  width: 100%;
}
.headertxt{
  padding-top: 5rem;
  margin-left: -20rem;
}

.components{
 width:100%;
 margin-left:10rem;
}


.componentcontact{
  width:100%;
  margin-left: -13.8rem;
}
.svgImg{
  border-top-left-radius: 20rem;
  border-bottom-right-radius: 8rem;
}
.w_input{
  width:25rem;
}
.w-imgContact{
  width:93%;
  margin-left:3.6rem;
}
@tailwind base;
@tailwind components;
@tailwind utilities;